Template: @@NAME@@/add-lucos-repo
Type: boolean
Default: true
Description: Add Lucos apt repository?
 The installer would like to add the Lucos repository and signing
 key to update Lucos through apt.
